/*-------------------------------------------------------------------
Course: SDEV 255
Date: 20 Sept 2022
Final Project
File: style.html
Group: 3 - Nikola Petreski and Nativida Barlow
Frontend Student: Nativida Barlow
Backend Student: Nikola Petreski
Instructor: Professor Troy Hamby
IVY Tech Community College
------------------------------------------------------------------->*/
body::before{
  display: block;
  content: '';
  height: 130px;
  background-color: #000000;
}
a {
  text-decoration: none;
}
@media(min-width: 768px){
  .news-input{
    width: 50%;
  }
}
button {
  padding: 0.6em 1.3em;
  background: linear-gradient(to right, #38ef7d, #11998e);
  border-radius: 3em;
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 4px;
  cursor: pointer;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
}

button:hover {
  filter: brightness(110%);
}
/*.butt;*/ /*<----------Is this needed?*/
.white-text-with-blue-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em Green;
}
.white-text-with-yellow-shadow {
	 text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em Green;
}
.white-text-with-black-shadow {
	 text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.white-text-with-red-shadow {
	 text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em red;
}
.white-text-with-yellow-shadow {
	 text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em red;
}
.white-text-with-purple-shadow {
	 text-shadow: 1px 1px 2px red, 0 0 1em purple, 0 0 0.2em purple;
}
.blue-text-with-white-shadow {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
.standout{
  color: #1976d2;
  font-size: 1em;
}
.standout2{
  color: red;
  font-size: 1em;
}
.standout3{
  color: #39FF14;
  font-size: 1em;
}
.standout4{
  color: yellow;
  font-size: 1em;
}
.standout5{
  color: purple;
  font-size: 1em;
}
.standout6{
  color: #FF7B19;
  font-size: 1em;
}
/*----STANDOUTS-END-------*/
/*p a{
    text-decoration: none;
    color: #ffffff;
}*/
